h1{
    font-size: 80px;
    margin-bottom: 40px;
}
h2{
    font-size: 30px; 
    color: brown;
}
article{
    background-color:plum;
    padding:20px;
    text-align: center;
    border-radius:10px;
    margin: 100px;
    width:80%;
    font-size:20px
}           
iframe{
    margin: 30px;
    border-radius: 10px;
    padding:
}
nav {
    background-color: #ff8fb1;
    padding: 15px;
    text-align: center;
    font-size: 30px;
}

