h1{
    font-size: 80px;
    margin-bottom: 40px;
}
h2{
    font-size: 40px; 
    color: brown;
}
article{
    background-color:plum;
    padding:20px;
    text-align: center;
    border-radius:10px;
    margin: 20px;
    width:80%;
}           
 iframe{
    margin: 30px;
    border-radius: 10px;
}
